.demo-block .demo-block-control.is-fixed {
  position: initial !important;
  bottom: 0 !important;
  width: 100% !important;
}

.g-message {
  z-index: 3000;
}

.demo-block .source{
  padding: 0 12px !important;
}

.footer {
  background: initial;
}

ol {
  line-height: 0;
  padding-left: 0;
}

.g-message {
  box-shadow: 0 0 0 0;
}
table{
  margin: 0;
}
th, td{
  border: none;
}