.tableModule{
  flex-grow: 1;
  margin-top: 10px;
  background: #fff;
  padding: 15px 15px 20px;
  .canClick{
    cursor: pointer;
  }
  .el-table--border{
    border-color:#E8E8E8;
    td{
      border-color:#E8E8E8;
    }
  }
  .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
    padding-left: 15px;
    padding-right: 15px;
  }
  .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
    border-right-color: transparent;
  }
  /* .el-table__fixed-body-wrapper{
    border-right: 1px solid #e8e8e8;
  } */
  /* .el-table__row td.headSetting{
    border-left: 1px solid #e8e8e8;
  } */
  .el-table__row .el-table-column--selection {
    border-right: 1px dashed #e8e8e8;
  }
  .el-table__fixed-right td.headSetting{
    border-left: 1px solid #e8e8e8;
  }
 /*  .el-table__header th.starting{
    border-right: 1px solid #e8e8e8;
  } */
  .el-table__row td.starting{
    border-right: 1px solid #e8e8e8;
    &.is-hidden{
      border-right-width: 0;
    }
  }
  .el-table{
    color: #333;
    .el-table__body-wrapper::-webkit-scrollbar {/*滚动条整体样式*/
          width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
          height: 8px;
      }
      .el-table__body-wrapper::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
          border-radius: 5px;
          background: #ccc;
      }
      .el-table__body-wrapper::-webkit-scrollbar-track {/*滚动条里面轨道*/
          border-radius: 0;
          background: transparent;
      }
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner{
      background: @buttonColor;
      border-color: @buttonColor;
    }
    th{
      height: 50px;
      padding: 0;
      background: #F2F4F5;
      border-right: #F2F4F5;
      >.cell{
        color: #333;
      }
    }
    td{
      height: 50px;
      padding: 0;
    }
     .el-icon{
      width: 16px;
      height: 16px;
      border-radius: 2px;
      line-height: 16px;
      text-align: center;
      font-size: 12px;
      color: #fff;
      & + .el-icon{
        margin-left: 12px;
      }
      &:hover{
        cursor: pointer;
        opacity: .7;
      }
    }
  }
  .el-table-column--selection .el-checkbox{
    margin: 0;
  }
  .el-table__fixed-right-patch{
    background-color: #F2F4F5;
  }
  .right{
    height: 50px;
    margin: 0 -15px;
    position: relative;
    .el-pagination{
      position: absolute;
      right: 15px;
      top: 40%;
      &.is-background .el-pager li:not(.disabled).active{
        background: @buttonColor;
      }
      &.is-background .el-pager li:not(.disabled).hover{
        background: @buttonColor;
      }
      .btn-prev, .btn-next, .el-pager .number{
        border: 1px solid #D9D9D9;
      }
      .el-pagination__jump{
        .el-input{
          width: 66px;
          .el-input__inner{
            width: 60px;
          }
        }
      }
    }
  }
}